.dataStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50rem;

  div{

    p{
      padding-top: 5rem;
      font-size: 18px;

    }
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em 1.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: bisque;
    margin-bottom: 5rem;

    &:hover {
      border-color: #646cff;
      background-color: #323232;
    }
  }
}